.rise-enabled .reveal .slides { text-align: center; }
.rendered_html p { text-align: center; }

#notebook {
    background-image: url(images/background.jpg);
    background-position: center;    
    background-size: cover;
}

#notebook h1, #notebook h2, #notebook h3 {
    text-align: center;
}
#notebook h1 { font-size: 8rem; }


div.cell {
    background-color: rgba(64, 64, 64, .9);
}




.reveal section img {
    max-height: 60vh;
    background-color: initial; 
}

.reveal section div.gallery {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.reveal section div.gallery > img {
    max-height: 30vh;
}


.reveal section img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.reveal section ul {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* .reveal section ul li { outline: 1px solid gray; width: 100%; } */
.rendered_html ul:not(.list-inline) { padding-left: 0; }
