#notebook {
    /*background-image: url(images/pexels-jan-kopřiva-3280908.jpg);*/
    background-image: url(images/pexels-jan-kopřiva-10294562.jpg);
    background-position: center;    
    background-size: cover;
}

#notebook h1, 
#notebook h2  
{
    text-align: center;
}

div.cell {
    background-color: rgba(64, 64, 64, .8);
}